<section class="services-container">
    <h1 class="h-primary center">Summer Trip Packages (click on name)</h1>
    <div id="services">
        <div class="box">
            <img [src]="barca" alt="">
            <h2 class="h-secondary center">
               <a href="javascript:void(0)" routerLink="messi">BARCELONA</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Lionel Messi</p>
            <p class="center"><strong>Position:</strong>Center Forward</p>
            <p class="center"><strong>Total Goals</strong>125</p>
            <p class="center"><strong>Age:</strong> 31</p>
        </div>
        <div class="box">
            <img [src]="realmadrid" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)" routerLink="ronaldo">Real Madrid</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Cristiano Ronaldo</p>
            <p class="center"><strong>Position:</strong>Left Forward</p>
            <p class="center"><strong>Total Goals</strong>551</p>
            <p class="center"><strong>Age:</strong> 38</p>
        </div>
        <div class="box">
            <img [src]="psg" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)" routerLink="neymar">PSG</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Neymar Jr</p>
            <p class="center"><strong>Position:</strong>Center Back</p>
            <p class="center"><strong>Total Goals</strong>220</p>
            <p class="center"><strong>Age:</strong> 35</p>
        </div>


    </div>
    <div id="services">
        <div class="box">
            <img [src]="manchunited" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)">Manchester United</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Paul Pogba</p>
            <p class="center"><strong>Position:</strong>Mid Fielder</p>
            <p class="center"><strong>Total Goals</strong>98</p>
            <p class="center"><strong>Age:</strong>33</p>
        </div>
        <div class="box">
            <img [src]="portugal" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)">Portugal</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Bruno Fernandes</p>
            <p class="center"><strong>Position:</strong>Goal Keeper</p>
            <p class="center"><strong>Total Goals</strong>125</p>
            <p class="center"><strong>Age:</strong> 31</p>
        </div>
        <div class="box">
            <img [src]="manchcity" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)">Manchester City</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>David Silva</p>
            <p class="center"><strong>Position:</strong>Center Forward</p>
            <p class="center"><strong>Total Goals</strong>125</p>
            <p class="center"><strong>Age:</strong> 31</p>
        </div>


    </div>
    <div id="services">
        <div class="box">
            <img [src]="liverpool" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)">Liverpool</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Lionel Messi</p>
            <p class="center"><strong>Position:</strong>Center Forward</p>
            <p class="center"><strong>Total Goals</strong>125</p>
            <p class="center"><strong>Age:</strong> 31</p>
        </div>
        <div class="box">
            <img [src]="chelsea" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)">India</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Lionel Messi</p>
            <p class="center"><strong>Position:</strong>Center Forward</p>
            <p class="center"><strong>Total Goals</strong>125</p>
            <p class="center"><strong>Age:</strong> 31</p>
        </div>
        <div class="box">
            <img [src]="tottenhum" alt="">
            <h2 class="h-secondary center">
                <a href="javascript:void(0)">Tottenhum</a> 
            </h2>
            <p class="center"><strong>Main Player:</strong>Lionel Messi</p>
            <p class="center"><strong>Position:</strong>Center Forward</p>
            <p class="center"><strong>Total Goals</strong>125</p>
            <p class="center"><strong>Age:</strong>31</p>
        </div>


    </div>
    

</section>
