*{
    margin: 0;
    padding: 0;
}

.h-primary{
    font-size: 32px;
    padding: 11px;
    color: black;
    background-color: lightgray;
    opacity: 0.70;
    border-radius: 83px;
    margin-top: 81px;
    margin-left: 33px;
}

#services{
    margin: 96px;
    display: flex;
}
.box{
    order: 2px solid brown;
    margin-top: -89px;
    margin-left: 5px;
    padding: 21px;
    margin-right: 5px;
    border-radius: 29px;
    background-color: gainsboro;
    opacity: 0.85;
    width: -webkit-fill-available;
}
.box img{
    height: 140px;
    display: block;
    margin: auto;
}
.services-container{
    margin-top: -76px;
}
.center{
    font-size: 20px;
    display: block;
    text-align: center;
    
}
.h-secondary center{
    display: block;
    align-items: center;
}

#services a{
    color: lightseagreen;
    display: block;
    padding: 5px 8px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 5px;
    background: black;
    margin-left: 74px;
    margin-right: 78px;
}
