

 <!-- <table class="table">
    <thead class="thead-dark">
      <tr id="font1">
        <th scope="col">srNo</th>
        <th scope="col">patientName</th>
        <th scope="col">location</th>
        <th scope="col">orderNo</th>
        <th scope="col">orderAmt</th>
       
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData" id="font">
        <th scope="row">{{data.srNo}}</th>
        <td>{{data.patientName}}</td>
        <td>{{data.location}}</td>
        <td>{{data.orderNo}}</td>
        <td>{{data.orderAmt}}</td>
       
        
      </tr>
  
    </tbody>
  </table> -->


  <div class="full" id="map"></div>
  